.btn {
  display: inline-block;
  margin: 15px 0;
  padding: 1em 2em;
  background: transparent;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
}

.btn:hover {
	background-color: aqua;
}

/* Gradient & Border Technique */
.border .green {
	border: 2px solid aqua;
	border-radius: 10px
}

.border .green:hover {
	border: 2px solid black;
}

/* Border Image Gradient Technique */
/*.border-image .green {
  border-image: linear-gradient(left, #add356, #00dfa6);
  border-image-slice: 1;
  border-image-width: 2px;
}*/

/* Stage Styles */
.cubebtn {
  font: normal 1em 'Orbitron', Roboto, 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.buttons {
  margin-top: 10%;
  text-align: center;
}

.btn {
  align-self: center;
}

a {
  color: aqua;
  text-decoration: none;
}

a:hover {
	color: black;
}