/*styling #hex*/

#hex {
	padding-top: 18px;
	padding-bottom: 10px;
	font-family:'Orbitron';
	color: aqua;
	background: transparent;
	border-radius: 5px;
	/*Vertical centering*/
	position: relative; top: 10%; margin-top: -32px;
	/*Horizontal centering*/
	text-align: center;
	border: 2px solid aqua;
}

#hex:hover {
	background-color: aqua;
	border: 2px solid black;
	color: black;
}

