body {
	background-image: url("../images/grid_city.png");
	background-repeat: no-repeat;
}

.heading1 {
	padding: 15px 0px;
	color: red;
	text-align: center;
	font-family:'Orbitron';
	border: 2px solid aqua;
	border-radius: 5px;
}

 .hidden {
	visibility: hidden;
}

img {
	opacity: 0.7;
}

.LIT {
	margin-top: 10%;
	color: aqua;
	font:normal .9em 'Orbitron';
	text-align: center;
}

.ITSLIT {
	color: aqua;
	font:normal .9em 'Orbitron';
	text-align: center;
	text-decoration: underline;
	text-decoration-color: red;
	padding: 15px 0px;
	border: 2px solid aqua;
	border-radius: 5px;
}